<a href="https://colab.research.google.com/github/Paul-Anderson2/Home_Sales/blob/main/Home_Sales_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
# Find the latest version of spark 3.x  from https://downloads.apache.org/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
# Changed version to spark 3.5.1 , most current version
spark_version = 'spark-3.5.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Ign:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:7 https://r2u.stat.illinois.edu/ubuntu jammy Release
Hit:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:10 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [ ]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [ ]:
# Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

In [ ]:
# Building the dataframe
spark.sparkContext.addFile(url)
df=spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)

# Show the DataFrame
df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [ ]:
# Creating a temporary view of the DataFrame called home_sales
df.createOrReplaceTempView('home_sales')
df.show

<bound method DataFrame.show of DataFrame[id: string, date: string, date_built: string, price: string, bedrooms: string, bathrooms: string, sqft_living: string, sqft_lot: string, floors: string, waterfront: string, view: string]>

In [ ]:
# What is the average price for a four bedroom house sold per year, rounded to two decimal places?

spark.sql("""SELECT YEAR(DATE) as Year_Sold_4B, ROUND(AVG(price),2) AS Avg_Price FROM home_sales WHERE BEDROOMS = 4 GROUP BY 1 ORDER BY 1 DESC""").show()

+------------+---------+
|Year_Sold_4B|Avg_Price|
+------------+---------+
|        2022|296363.88|
|        2021|301819.44|
|        2020|298353.78|
|        2019| 300263.7|
+------------+---------+

In [ ]:
# What is the average price of a home for each year the home was built,
# that has 3 bedrooms and 3 bathrooms, rounded to two decimal places?

spark.sql("""SELECT date_built AS Home_Built_Year, ROUND(AVG(price),2) AS Avg_Price FROM home_sales WHERE bedrooms = 3 AND bathrooms = 3 GROUP BY 1 ORDER BY 1 DESC""").show()

+---------------+---------+
|Home_Built_Year|Avg_Price|
+---------------+---------+
|           2017|292676.79|
|           2016|290555.07|
|           2015| 288770.3|
|           2014|290852.27|
|           2013|295962.27|
|           2012|293683.19|
|           2011|291117.47|
|           2010|292859.62|
+---------------+---------+

In [ ]:
#  What is the average price of a home for each year the home was built,
# that has 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?

spark.sql("""SELECT date_built AS Home_Built_Year, ROUND(AVG(price),2)AS Avg_Price FROM home_sales WHERE bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_lot >= 2000 GROUP BY 1 ORDER BY 1 DESC""").show()

+---------------+---------+
|Home_Built_Year|Avg_Price|
+---------------+---------+
|           2017|282026.59|
|           2016| 287812.6|
|           2015|291788.36|
|           2014|294195.13|
|           2013|295142.13|
|           2012|295858.68|
|           2011|281413.45|
|           2010|280447.23|
+---------------+---------+

In [ ]:
# What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("""SELECT LPAD(view, 2, '0') AS Home_View_Rating, ROUND(AVG(price), 2) AS Avg_Price FROM home_sales WHERE price >= 350000 GROUP BY 1 ORDER BY Home_View_Rating DESC""").show()

# Print out the runtime

print("--- %s seconds ---" % (time.time() - start_time))

+----------------+----------+
|Home_View_Rating| Avg_Price|
+----------------+----------+
|              99|1061201.42|
|              98|1053739.33|
|              97|1129040.15|
|              96|1017815.92|
|              95| 1054325.6|
|              94| 1033536.2|
|              93|1026006.06|
|              92| 970402.55|
|              91|1137372.73|
|              90|1062654.16|
|              89|1107839.15|
|              88|1031719.35|
|              87| 1072285.2|
|              86|1070444.25|
|              85|1056336.74|
|              84|1117233.13|
|              83|1033965.93|
|              82| 1063498.0|
|              81|1053472.79|
|              80| 991767.38|
+----------------+----------+
only showing top 20 rows

--- 1.0622708797454834 seconds ---

In [ ]:
# Cache the the temporary table home_sales.

spark.sql("cache table home_sales")

DataFrame[]

In [ ]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [ ]:
# Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.
# Runtime is about twice as fast on this version - 1.06 seconds vs 0.65 seconds.

start_time = time.time()

spark.sql("""SELECT LPAD(view, 2, '0') AS Home_View_Rating, ROUND(AVG(price), 2) AS Avg_Price FROM home_sales WHERE price >= 350000 GROUP BY 1 ORDER BY Home_View_Rating DESC""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+----------------+----------+
|Home_View_Rating| Avg_Price|
+----------------+----------+
|              99|1061201.42|
|              98|1053739.33|
|              97|1129040.15|
|              96|1017815.92|
|              95| 1054325.6|
|              94| 1033536.2|
|              93|1026006.06|
|              92| 970402.55|
|              91|1137372.73|
|              90|1062654.16|
|              89|1107839.15|
|              88|1031719.35|
|              87| 1072285.2|
|              86|1070444.25|
|              85|1056336.74|
|              84|1117233.13|
|              83|1033965.93|
|              82| 1063498.0|
|              81|1053472.79|
|              80| 991767.38|
+----------------+----------+
only showing top 20 rows

--- 0.6536319255828857 seconds ---

In [ ]:
# Partition by the "date_built" field on the formatted parquet home sales data

df.write.partitionBy("date_built").mode("overwrite").parquet("parket_delayed_partitioned")

In [ ]:
# Read the parquet formatted data.

p_df=spark.read.parquet('parket_delayed_partitioned')

In [ ]:
# Create a temporary table for the parquet data.

p_df.createOrReplaceTempView('p_delays_p')

In [ ]:
# Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.
# this one also runs faster than the uncached runtime

start_time = time.time()

spark.sql("""SELECT LPAD(view, 2, '0') AS Home_View_Rating, ROUND(AVG(price), 2) AS Avg_Price FROM home_sales WHERE price >= 350000 GROUP BY 1 ORDER BY Home_View_Rating DESC""").show()

# Print out the runtime


print("--- %s seconds ---" % (time.time() - start_time))

+----------------+----------+
|Home_View_Rating| Avg_Price|
+----------------+----------+
|              99|1061201.42|
|              98|1053739.33|
|              97|1129040.15|
|              96|1017815.92|
|              95| 1054325.6|
|              94| 1033536.2|
|              93|1026006.06|
|              92| 970402.55|
|              91|1137372.73|
|              90|1062654.16|
|              89|1107839.15|
|              88|1031719.35|
|              87| 1072285.2|
|              86|1070444.25|
|              85|1056336.74|
|              84|1117233.13|
|              83|1033965.93|
|              82| 1063498.0|
|              81|1053472.79|
|              80| 991767.38|
+----------------+----------+
only showing top 20 rows

--- 0.5179827213287354 seconds ---

In [ ]:
# Uncache the home_sales temporary table.

spark.sql("uncache table home_sales")

DataFrame[]

In [ ]:
# Check if the home_sales is no longer cached

spark.catalog.isCached("home_sales")

False